blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.0
packaging==24.1
pandas==2.2.2
plotly==5.24.0
python-dateutil==2.9.0.post0
pytz==2024.1
-e git+https://github.com/mountanalytics/sankey-plot-lineages.git@a8f9df24bdbd1a109d3ec75d87e819e7b175678e#egg=sankeyapp
six==1.16.0
tenacity==9.0.0
tzdata==2024.1
Werkzeug==3.0.4
